/* Variables */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris-claro: #757575;
    --gris-oscuro: #5a5a5a;
    --gris-tenue: #f2f2f2;
    --orange: #dd820d;
    --blue: #3895ea;
    --blue-tenue: #4285f4;
}


/*Reset and common style*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Reset and common style*/

/*style body*/
body {
    background-color: var(--blanco);
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

/*style body*/

/*-- Container --*/
.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

/*-- Container --*/

/*-- Header --*/
header {
    background: url(../img/bg.jpg) #49a3d6 no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header .menu {
    margin: 20px 0;
    text-align: center;
}

header .menu a {
    margin: 0 20px;
    color: var(--blanco);
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover {
    border-bottom: 2px solid var(--blanco);
}

header .container-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 40px 0;
}

header .container-text .text {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .container-text .text h1, h2 {
    color: var(--blanco)
    font-weight: 300;
    margin: 0;
}

header .container-text .text .main-title {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .container-text .text .proffesion {
    font-size: 25px;
    line-height: 25px;
}

/*-- main star --*/
.main .container {
    overflow: visible;
}
.main .about-me {
    text-align: center;

}
.main .about-me .photo {
    margin-top: -60px;
}
.main .about-me .photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--blanco);
}
.main .about-me .photo img {
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
.main .about-me .text-main {
    color: var(--gris-oscuro);
    font-weight: 600;
    font-size: 1em;
    line-height: 3rem;
    width: 80%;
    margin: 40px auto 60px auto;
}
.main .about-me .text-main .title {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 40px;
    Color: var(--orange);
    text-transform: uppercase;
}
.main .about-me .text-main .description span {
    color: var(--blue);
    text-decoration: none;
}

/* main end */

/* education star */
.educations {
    max-width: 100vw;
    margin: 0;
    background-color: var(--gris-tenue);
    margin-top: 40px auto;
}

.educations .container {

    padding-bottom: 20px;
    margin-bottom: 20px;
}

.container-education {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.education-title {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 40px;
    color: var(--orange);
    text-align: center;
    text-transform: uppercase;
}

.education-profession {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
    color: var(--blue);
    text-align: left;
    text-transform: uppercase;
}

.education-name {
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: var(--gris-claro);
    text-align: left;
    text-transform: uppercase;
}

.education-description {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 20px;
    color: var(--black);
    text-align: left;
    text-transform: uppercase;
}


/* works star */
.works {
    background: var(--gris-tenue)
    padding: 60px 0;
}

.works .container {
    overflow: hidden;
}

.works .container .works-title {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 40px;
    color: #dd820d;
    text-align: center;
}

.works .container .container-works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works .container .container-works .work {
    width: 23%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid var(--blanco);
}

.works .container .container-works .work:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.works .container .container-works .work .thumb {
    width: 100%;
    margin-bottom: 20px;
}

.works .container .container-works .work .thumb img {
    border-radius: 3px;
    width: 100%;
    height: 200px;
    vertical-align: top;
}

.works .container .container-works .work .description {

    text-align: center;
}

.works .container .container-works .work .description-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #3895ea;
}

.works .container .container-works .work .description-category {
    font-size: 1rem;
    color: var(--gris-osucro);
}
