/*Reset and common style*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}

/*-- Header --*/
header {
    background: url(../img/bg.jpg) #49a3d6 no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header .menu {
    margin: 20px 0;
    text-align: center;
}

header .menu a {
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover {
    border-bottom: 2px solid #fff;
}

header .container-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 40px 0;
}

header .container-text .text {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .container-text .text h1, h2 {
    color: #fff;
    font-weight: 300;
    margin: 0;
}

header .container-text .text .main-title {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .container-text .text .proffesion {
    font-size: 25px;
    line-height: 25px;
}

/*-- main --*/
.main .container {
    overflow: visible;
}
.main .about-me {
    text-align: center;

}
.main .about-me .photo {
    margin-top: -60px;
}
.main .about-me .photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.main .about-me .photo img {
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
.main .about-me .text-main {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 3rem;
    width: 80%;
    margin: 40px auto 60px auto;
}
.main .about-me .text-main .title {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 40px;
    Color: #dd820d;
    text-transform: uppercase;

}

.main .about-me .text-main .description span {
    color: #3895ea;
    text-decoration: none;
}



